

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

textarea{
    resize:none;
}
.imgContacto{
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.a-color {
    color: white;
}

.sliderImg{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.filterImgSlider{
    filter: grayscale(0.4);
}


.team .card-body i{
    font-size: 20px;
}
.portafolio .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}
.team .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}

.grillaCategoria{
    width: 150px;
    height: 150px;
}

.imgGrilla{
   padding: 15px 50px;
    width: 100%; 
    height: 200px;
    
}
.imgBanner{
    width: 100%;
    height: 350px;
}
.imgDetalles{
    padding: 15px 50px;
     width: 100%; 
     height: 500px;   
 }

 .imgDetalles2{
    padding: 15px 50px;
     width: 250px; 
     height: 200px;
     object-fit: cover;
 }

 .box404 {
    max-width: 80vh;
 }

.boxPubli {
    height: 200px;
    width: auto;
    overflow: hidden;
}

.boxPubli img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.imgCarrito{
    width: 100px;
    height: 100px;
 }

 .bg-car1 {
    background-image: url('../img/_com2.jpg'); /* Ajusta la ruta según tu estructura de carpetas */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

.textocar{
    text-shadow:#000000 2px 3px 15px;
}


.bg-car2 {
    background-image: url('../img/gamingpcdesk01.webp'); /* Ajusta la ruta según tu estructura de carpetas */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-car3 {
    background-image: url('../img/_com3.jpg'); /* Ajusta la ruta según tu estructura de carpetas */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Iconos*/
.box-icons i{
    font-size: 40px;
}
.box-icons h3{
    font-size: 20px;
    font-weight: 800;
}
/*DESTACADOS*/
.textcombo{
    text-shadow:#000000f8 2px 3px 15px;
}

.product{
    padding: 80px 0;
}
.card img {
    width: 150px;
    height: 150px;
}
/*promo auris*/
.promoauris{
    padding: 80px 100px;
    width: 100%;
  
}

.img-container{
    width: 100%;
    height: 500px;
}

